# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Transactions Folder
Transactions/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log 